{% extends "layouts/base.html" %}
{% block title %} Books Result {% endblock title %}

{% block content %}
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
    </tr>
    {% endfor %}
</table>
{% for obj in books %}
    ID: {{ obj.id }}, Title: {{ obj.title }}
    <hr>
{% endfor %}





{% endblock content %}
